<template>
  <div id="app">
    <Hello firstname='Maxime' lastname='Blondel' from='Nantes' img='/src/assets/logo.png'/>
    <router-view/>
  </div>
</template>

<script>
import Hello from './components/Hello'
import List from './components/List'

export default {
  name: 'App',
  components: {
    Hello,
    List
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
