<template>
    <div id="Accueil">
        <h1> Hello {{ firstname }} {{ lastname }}  !
          Bienvenue sur CoWorking !
        </h1>
    </div>

</template>

<script>
export default{
  data () {

  },
  props: ['firstname', 'lastname', 'from']
}
</script>

<style scoped>
#Accueil{
  height: 100%;
  width: 100%;
  background-color: #C4C4C4;
  color: #1C1C1C;
}

</style>