<template>
    <div id="list">
        <div id="listBar">
            <ul>
            </ul>
        </div>
        <div id="listReservation">
            <ul>
            </ul>
        </div>
    </div>
</template>

<script>
export default{
  data () {
  }}
</script>

<style scoped>
#list{
    background-color: #C4C4C4;
    color: #1C1C1C;
}
#listBar{

}
#listReservation{

}
</style>
